1. Import Packages

In [ ]:
# import packages
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import matplotlib.pyplot as plt

1.1. Connect to MySQL and Import Data

In [ ]:
# connect python to MySQL server
db_connection_str = 'mysql+pymysql://deepanalytics:Sqltask1234!@34.73.222.197/deepanalytics'

In [ ]:
#create engine for sqlalchemy to interfacce with the database API
db_connection = create_engine(db_connection_str)

In [ ]:
# importing the data into a pd dataframe
SQL = pd.read_sql('SELECT * FROM credit', con=db_connection)

In [ ]:
#create pandas dataframe from SQL query
df = pd.DataFrame(SQL)

1.2. Export Data to CSV file

In [ ]:
#export df as .csv file
df.to_csv (r'C:\Users\enwig\export_data.csv', index = False)

2. Import and Clean Raw Data

In [ ]:
#import data
data = pd.read_csv('credit_one_data.csv', skiprows=[0])

In [ ]:
#Glimpse top of data frame
data.head()

2.1. Attributes
Predictive accuracy of estimated probability of default on customer payments in Taiwan
* Binary Variable Y, default payment (Yes=1, No=0)
* LIM_BAL Amount of credit given to individual consumer and his/her family (supplementary) credit
* Marital Status (1=married, 2=single, 3=divorce, 0=others)
* Past Payment History, Pay_0 is payment status in September 2005 back to Pay_6 is payment status in April 2005
* Repayment status: -2 No consumption; -1 Paid in full, 0 The use of revolving credit, 1 payment delay 1 month...
                   9 Payment delay for nine months or more
* Amount of Bill BILL_AMT1 amount of bill statement in Sept 2005 back through BILL_AMT6 amount of bill statement in
                 April 2005
* Amount of previous payment PAY_AMT1 Amount paid in Sept 2005 back to PAY_AMT6 Amount paid in April 2005

In [ ]:
# descriptive statistics
data.describe()

2.2. Remove duplicate rows and Nan values

In [ ]:
#Rename data frame and review non-null values and datatypes
credit = data
credit.info()

In [ ]:
#Remove duplicate rows and review non-null count
credit.drop_duplicates(inplace=True)
credit.info()

In [ ]:
# remove rows with NaN values
credit.dropna()

In [ ]:
# reindex the rows
credit = credit.reset_index(drop = True)

In [ ]:
# review non-null values
credit.info()

In [ ]:
# look for additional header rows in data
credit[credit["ID"] == "ID"]

In [ ]:
# remove header row in row 202
credit.drop([202], inplace=True)

In [ ]:
# confirm no other header rows exist
credit[credit["ID"] == "ID"]

In [ ]:
#review non-null values
credit.info()

In [ ]:
# review for the additional non-null value (all varialbles 1 count higher than ID variable)
credit['EDUCATION'].value_counts()

In [ ]:
# find row where EDUCATION = X3
credit.loc[credit['EDUCATION'] == 'X3']

In [ ]:
# remove row 202
credit.drop([201], inplace=True)

In [ ]:
# reset index of rows
credit = credit.reset_index(drop = True)

In [ ]:
# review non-null values count is same for all variables
credit.info()

2.3. Change datatype to integer

In [ ]:
# find X1 to address error preventing change in data type
a= ['X1']
credit = credit[~credit['LIMIT_BAL'].isin(a)]

In [ ]:
# change data types from objects to integers
credit['ID'] =credit['ID'].astype('int')
credit['LIMIT_BAL'] =credit['LIMIT_BAL'].astype('int')
credit['MARRIAGE'] =credit['MARRIAGE'].astype('int')
credit['AGE'] =credit['AGE'].astype('int')
credit['PAY_0'] =credit['PAY_0'].astype('int')
credit['PAY_2'] =credit['PAY_2'].astype('int')
credit['PAY_3'] =credit['PAY_3'].astype('int')
credit['PAY_4'] =credit['PAY_4'].astype('int')
credit['PAY_5'] =credit['PAY_5'].astype('int')
credit['PAY_6'] =credit['PAY_6'].astype('int')
credit['BILL_AMT1'] =credit['BILL_AMT1'].astype('int')
credit['BILL_AMT2'] =credit['BILL_AMT2'].astype('int')
credit['BILL_AMT3'] =credit['BILL_AMT3'].astype('int')
credit['BILL_AMT4'] =credit['BILL_AMT4'].astype('int')
credit['BILL_AMT5'] =credit['BILL_AMT5'].astype('int')
credit['BILL_AMT6'] =credit['BILL_AMT6'].astype('int')
credit['PAY_AMT1'] =credit['PAY_AMT1'].astype('int')
credit['PAY_AMT2'] =credit['PAY_AMT2'].astype('int')
credit['PAY_AMT3'] =credit['PAY_AMT3'].astype('int')
credit['PAY_AMT4'] =credit['PAY_AMT4'].astype('int')
credit['PAY_AMT5'] =credit['PAY_AMT5'].astype('int')
credit['PAY_AMT6'] =credit['PAY_AMT6'].astype('int')
credit.dtypes

In [ ]:
#confirm final non-null count and datatypes
credit.info()

2.4. Import and Run Pandas_Profile

In [ ]:
# import the function
import pandas_profiling
from pandas_profiling import ProfileReport

In [ ]:
# generate the report on cleaned data 
profile = ProfileReport(credit, title='Credit One Pandas Profiling Report', explorative = True)

profile.to_widgets()

In [ ]:
# interface through html
profile.to_notebook_iframe()

In [ ]:
# export report as html
profile.to_file('Credit_One_Pandas_Report.html')

In [ ]:
credit.corr(method ='pearson')

In [ ]:
credit.cov()